*{  padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color:whitesmoke;
}
div{
    align-items: center;
    justify-content:center;
    padding: 10px;
}

section{   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(185, 185, 238); 
    padding: 10px; 
    margin:10px;
    color: black;     
    font-family: 'Cinzel', serif;
}
.incoloro{
    display: flex;
    background-color: rgb(185, 185, 238);   
    color: black;     
    font-family: 'Cinzel', serif;
}
img{ 
    width: 100%;
    height: 100%;
}
.imagen{
    max-width: 80%;    
    height: 80%;
}

/*estilo titulos*/
h1{
     color:black;
    font-size: 70px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Cinzel', serif;
}
h2{
    color:rgb(185, 185, 238);
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Cinzel', serif;
}
h3{
    color:black;
    font-size: 35px;
    font-family: 'Cinzel', serif;
    text-align: center;
    justify-content: center;
    align-items: center;   
}
h5{
    color:black;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    text-align: center;
    justify-content: center;
    align-items: center;   
}
p{  
    color:rgb(185, 185, 238);
    font-size: 25px;
    text-align:center;
    font-family: 'Cinzel', serif;
    font-weight:lighter;
}
.power{
    font-size: 14px;
    color:rgb(185, 185, 238);
    text-align:center;
    font-family: 'Cinzel', serif;
    font-weight:lighter;
}
.principal{
    display: flex;
    justify-content: center;
    justify-items: auto;
    align-items: center;
    text-align: center;
    background-color:white; 
    font-weight: bolder; 
    font-size:40px ;
    font-family: 'Cinzel', serif;
}

/*estilos header*/
header{
    background-color: black;

}

/*estilos footer*/

.Footer{
    display: flex;   
    justify-content:center;
    justify-items: center;
    align-items: center; 
    text-align: center;
    font-family: 'Cinzel', serif;
    color:rgb(185, 185, 238);
    font-weight: bolder;
    background-color:black;
    padding: 20px;
}
    
/*estilo menu */
.menu{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: black;
    color:rgb(185, 185, 238);
    font-weight: bolder;
    font-family: 'Cinzel', serif;    
}

ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center; 
    justify-content: center;
    color:rgb(185, 185, 238);    
}
 li{
    flex-grow: 1;
    justify-content: center;
    color:rgb(185, 185, 238);
    list-style: none;
   
}
 li:hover{
    color:rgb(185, 185, 238);
    opacity:0.1;
}
 a{
    display: block;
    padding: 15px 20px;
    color:rgb(185, 185, 238);
    font-weight:normal;
    text-decoration: none;
}

@media only screen and (max-width: 768px){
    
    .menu{
        position: absolute;
        background:black;
        width: 100%;
        transition: all 0.5s;
    }
     ul{
        flex-direction: column;
    }    
    
    .Footer {
        display: block; 
        justify-content:center;  
        align-items: center;
        text-align: center;
        font-family: 'Cinzel', serif;
        color:rgb(185, 185, 238);
        font-weight: bolder;
        background-color: black;
    }
    div{
        display: block;
        align-items: center;
        justify-content:space-evenly;
    }
    .imagen{

        max-width: 80%;    
        height: 80%;
    }

}
@media only screen and (max-width: 480px) { 

    .menu{
        position: absolute;
        background:black;
        width: 100%;
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
    }
    
    .Footer {
        display: block; 
        justify-content:center;  
        align-items: center;
        text-align: center;
        font-family: 'Cinzel', serif;
        color:rgb(185, 185, 238);
        font-weight: bolder;
        background-color: black;
    }
    div{
        display: block;
        align-items: center;
        justify-content:space-evenly;
    }
    .imagen{

        max-width: 80%;    
        height: 80%;
    }

}

@media only screen and (max-width: 320px){
    .menu{
        position: absolute;
        background:black;
        width: 100%;
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
    }
    
    .Footer {
        display: block; 
        justify-content:center;  
        align-items: center;
        text-align: center;
        font-family: 'Cinzel', serif;
        color:rgb(185, 185, 238);
        font-weight: bolder;
        background-color: black;
    }
    div{
        display: block;
        align-items: center;
        justify-content:space-evenly;
    }

    .imagen{

        max-width: 80%;    
        height: 80%;
    }

}




